h1, h2, h3 {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

p {
  margin: 0;
  font-family: Onen Sans, sans-serif;
  font-weight: 400;
}

.short-title {
  color: #c0cdd7;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.page {
  scroll-behavior: smooth;
  background-color: #f2f6fa;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 150%;
}

.page__body {
  min-width: 320px;
  margin: 0;
}

.page__side-menu {
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__side-menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.page:has(.page__side-menu:target) {
  overflow: hidden;
}

.header {
  background-color: #2c2c2c;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.header__content {
  grid-template-rows: auto 1fr;
  height: 100vh;
  display: grid;
}

.header__bottom {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto 1fr;
  column-gap: 20px;
  display: grid;
}

@media (width >= 640px) {
  .header__bottom {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .header__bottom {
    --columns: 12;
    column-gap: 20px;
  }
}

@media (width >= 1600px) {
  .header__bottom {
    --columns: 12;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .header__bottom {
    align-items: center;
  }
}

.header__strategic-agency {
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  padding-block: 48px;
  display: grid;
}

@media (width >= 640px) {
  .header__strategic-agency {
    padding-top: 56px;
    padding-bottom: 147px;
  }
}

@media (width >= 1024px) {
  .header__strategic-agency {
    grid-area: 1 / 1 / 3 / 7;
    padding: 0;
  }
}

.header__title {
  color: #fff;
  letter-spacing: -2px;
  grid-column: 1 / -1;
  font-size: 52px;
  line-height: 120%;
}

@media (width >= 640px) {
  .header__title {
    font-size: 64px;
    line-height: 68px;
  }
}

@media (width >= 1024px) {
  .header__title {
    grid-column: 1 / 6;
  }
}

.header__description {
  color: #fff;
  grid-column: 1 / -1;
  margin-top: 32px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 640px) {
  .header__description {
    grid-column: 1 / 5;
    margin-top: 24px;
  }
}

@media (width >= 1024px) {
  .header__description {
    margin-top: 32px;
  }
}

.header__learn-more {
  grid-column: 1 / -1;
  margin-top: 72px;
}

@media (width >= 640px) {
  .header__learn-more {
    grid-column: 1 / 4;
    margin-top: 56px;
  }
}

@media (width >= 1024px) {
  .header__learn-more {
    margin-top: 83px;
  }
}

.header__slider {
  box-sizing: border-box;
  grid-column: 1 / -1;
  height: 100%;
  margin-inline: -20px;
}

@media (width >= 640px) {
  .header__slider {
    margin-inline: -41px;
  }
}

@media (width >= 1024px) {
  .header__slider {
    grid-area: 1 / 7 / 3 / -1;
    margin: 0;
    margin-inline-end: -54px;
    padding-top: 38px;
  }
}

@media (width >= 1600px) {
  .header__slider {
    margin-inline-end: -227px;
  }
}

@media (width >= 2560px) {
  .header__slider {
    margin-inline-end: -770px;
  }
}

.header__image {
  flex-direction: column;
  height: 100%;
  display: flex;
}

.header__slider-content {
  flex-direction: column;
  gap: 16px;
  margin-top: auto;
  padding-block: 24px;
  padding-inline: 20px;
  display: flex;
}

@media (width >= 640px) {
  .header__slider-content {
    padding-block: 32px;
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .header__slider-content {
    flex-direction: row;
    gap: 24px;
    padding: 48px;
  }
}

.header__arrows {
  align-items: center;
  gap: 16px;
  display: flex;
}

.header__arrow {
  width: 32px;
  height: 32px;
  transition: transform .3s;
  display: flex;
}

.header__arrow:hover {
  transform: scale(1.2);
}

.header__slider-text {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.header__slider-title {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.header__slider-description {
  color: #fff;
  font-size: 14px;
  line-height: 140%;
}

.top-bar__content {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: end;
  height: 48px;
  padding-top: 18px;
  display: flex;
}

@media (width >= 1024px) {
  .top-bar__content {
    align-items: center;
    height: 82px;
    padding-top: 48px;
  }
}

.top-bar__logo-link {
  transition: transform .3s;
  display: flex;
}

.top-bar__logo-link:hover {
  transform: scale(1.2);
}

@media (width >= 1024px) {
  .top-bar__logo-link {
    padding-bottom: 4px;
  }
}

.top-bar__menu {
  margin-left: 32px;
}

@media (width >= 1024px) {
  .top-bar__menu {
    margin-left: 22px;
    padding-bottom: 10px;
  }
}

.top-bar__hire-us {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  white-space: nowrap;
  flex-direction: column;
  gap: 8px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
  transition: transform .3s;
  display: flex;
}

.top-bar__hire-us:hover {
  transform: scale(1.2);
}

.top-bar__underline {
  background-color: #2060f6;
  border-radius: 4px;
  height: 2px;
}

.menu {
  width: 100%;
}

.menu__icon {
  display: flex;
}

@media (width >= 1024px) {
  .menu__icon {
    display: none;
  }
}

.menu__nav {
  display: none;
}

@media (width >= 1024px) {
  .menu__nav {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.logo__svg {
  fill: #fff;
}

.svg--menu {
  fill: #fff;
  transition: transform .3s;
}

.svg--menu:hover {
  transform: scale(1.2);
}

.svg--menu--parts {
  fill: inherit;
}

.svg--quote {
  fill: #2060f6;
}

.svg--quote--parts {
  fill: inherit;
}

.svg--socials {
  fill: #fff;
  transition: fill .3s;
}

.svg--socials:hover {
  fill: #2060f6;
}

.svg--socials--parts {
  fill: inherit;
}

.button--rectangular {
  color: #fff;
  background-color: #2060f6;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: transform .3s;
  display: flex;
}

.button--rectangular:hover {
  background-color: #144ed4;
  transform: scale(1.05);
}

.button--with-arrow-in-circle {
  color: #334563;
  text-align: center;
  justify-content: start;
  align-items: center;
  gap: 16px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
}

.button--with-arrow-in-circle:hover {
  text-decoration: underline;
}

.button__arrow {
  background-image: url("arrow.44174939.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 48px;
  height: 48px;
}

.image--slider {
  background-image: url("slider-image-01.356a0688.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

@media (width >= 1024px) {
  .image--slider {
    border-radius: 30px 0;
  }
}

.image--expertise--branding {
  background-image: url("branding-image.5f3cd9e8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.image--expertise--communication {
  background-image: url("communicating-image.f953f0da.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.image--expertise--strategy {
  background-image: url("strategy-image.8b4dd8d9.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.nav__list {
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__list--side-menu, .nav__list--footer {
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

@media (width >= 640px) {
  .nav__list--footer {
    flex-direction: row;
    justify-content: start;
    gap: 40px;
  }
}

@media (width >= 1024px) {
  .nav__list--footer {
    gap: 64px;
  }
}

.nav__link {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
  position: relative;
}

.nav__link:after {
  content: "";
  transform-origin: 0;
  background-color: #2060f6;
  width: 100%;
  height: 2px;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  transform: scale(0);
}

.nav__link:hover:after {
  transform: scale(1);
}

.who-we-are__content {
  padding-block: 120px;
}

@media (width >= 640px) {
  .who-we-are__content {
    padding-block: 148px;
  }
}

.who-we-are__title {
  color: #253757;
  text-align: center;
  font-size: 32px;
  line-height: 150%;
}

.who-we-are__description {
  color: #6c788b;
  text-align: center;
  margin-top: 24px;
  font-size: 22px;
  font-weight: 600;
  line-height: 150%;
}

@media (width >= 640px) {
  .who-we-are__description {
    margin-top: 16px;
  }
}

.our-expertise {
  background-color: #fff;
  border-radius: 30px;
}

.our-expertise__content {
  padding-block: 72px;
}

@media (width >= 640px) {
  .our-expertise__content {
    padding-block: 128px;
  }
}

@media (width >= 1024px) {
  .our-expertise__content {
    padding-top: 128px;
    padding-bottom: 134px;
  }
}

.our-expertise__title {
  color: #253757;
  text-align: center;
  margin-bottom: 56px;
  font-size: 44px;
  line-height: 120%;
}

@media (width >= 640px) {
  .our-expertise__title {
    margin-bottom: 64px;
    font-size: 52px;
    line-height: 150%;
  }
}

.our-expertise__list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  display: flex;
}

@media (width >= 640px) {
  .our-expertise__list {
    gap: 72px;
  }
}

@media (width >= 1024px) {
  .our-expertise__list {
    flex-direction: row;
    gap: 185px;
  }
}

@media (width >= 1600px) {
  .our-expertise__list {
    gap: 275px;
  }
}

.our-expertise__point {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.our-expertise__image {
  width: 166px;
  height: 166px;
  transition: transform .3s;
}

.our-expertise__image:hover {
  transform: scale(1.05);
}

.our-expertise__point-title {
  color: #253757;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 140%;
}

.our-expertise__point-description {
  color: #6c788b;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
}

.services__content {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto auto 1fr;
  column-gap: 20px;
  padding-block: 120px;
  display: grid;
}

@media (width >= 640px) {
  .services__content {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .services__content {
    --columns: 12;
    column-gap: 20px;
  }
}

@media (width >= 1600px) {
  .services__content {
    --columns: 12;
    column-gap: 30px;
  }
}

@media (width >= 640px) {
  .services__content {
    padding-block: 148px;
  }
}

.services__short-title {
  grid-column: 1 / -1;
}

@media (width >= 640px) {
  .services__short-title {
    grid-column: 1 / 4;
  }
}

@media (width >= 1024px) {
  .services__short-title {
    padding-top: 103px;
  }
}

.services__title {
  color: #253757;
  grid-column: 1 / -1;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
}

@media (width >= 640px) {
  .services__title {
    grid-column: 1 / 4;
  }
}

.services__description {
  color: #6c788b;
  grid-column: 1 / -1;
  margin-bottom: 48px;
  font-size: 14px;
  line-height: 150%;
}

@media (width >= 640px) {
  .services__description {
    grid-column: 1 / 4;
    margin-bottom: 56px;
  }
}

@media (width >= 1024px) {
  .services__description {
    margin-bottom: 0;
  }
}

.services__list {
  grid-column: 1 / -1;
  grid-template-columns: 1fr;
  gap: 24px;
  display: grid;
}

@media (width >= 640px) {
  .services__list {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (width >= 1024px) {
  .services__list {
    grid-area: 2 / 7 / 4 / 13;
    gap: 20px;
  }
}

@media (width >= 1600px) {
  .services__list {
    gap: 30px;
  }
}

.services__point {
  background-color: #fff;
  border-radius: 16px;
  flex-direction: column;
  padding: 32px;
  transition: transform .3s;
  display: flex;
  box-shadow: 0 9px 18px #25293108;
}

.services__point:hover {
  transform: scale(1.05);
}

@media (width >= 640px) {
  .services__point--translated-up {
    transition: transform .3s;
    transform: translateY(-50%);
  }

  .services__point--translated-up:hover {
    transform: scale(1.05)translateY(-50%);
  }
}

.services__code-box {
  background-color: #2060f61a;
  border-radius: 23px;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
}

.services__code {
  color: #2060f6;
  text-align: center;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2px 12px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.services__details {
  color: #6c788b;
  margin-top: 26px;
  margin-bottom: 32px;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
}

.services__learn-more {
  width: -moz-fit-content;
  width: fit-content;
}

.testimonials__content {
  padding-bottom: 120px;
}

.testimonials__title {
  color: #253757;
  margin-top: 16px;
  margin-bottom: 48px;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
}

.testimonials__list {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 24px 20px;
  display: grid;
}

@media (width >= 640px) {
  .testimonials__list {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .testimonials__list {
    --columns: 12;
    column-gap: 20px;
  }
}

@media (width >= 1600px) {
  .testimonials__list {
    --columns: 12;
    column-gap: 30px;
  }
}

.testimonials__point {
  text-align: center;
  background: #fff;
  border-radius: 16px;
  flex-direction: column;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  padding: 32px;
  transition: transform .3s;
  display: flex;
  box-shadow: 0 9px 18px #25293108;
}

.testimonials__point:hover {
  transform: scale(1.05);
}

@media (width >= 1024px) {
  .testimonials__point {
    grid-column: span 4;
  }
}

.testimonials__reviewer-avatar {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.testimonials__avatar-rect-1 {
  background: #2060f6;
  border-radius: 12px;
  width: 109px;
  height: 44px;
  transform: rotate(-60deg)translateX(-50%)translateY(-25%);
}

.testimonials__photo {
  object-fit: cover;
  z-index: 1;
  border-radius: 100%;
  width: 110px;
  height: 110px;
}

.testimonials__avatar-rect-2 {
  background: #2060f6;
  border-radius: 12px;
  width: 109px;
  height: 44px;
  transform: rotate(-60deg)translateX(50%)translateY(25%);
}

.testimonials__quote-icon {
  margin-block: 8px;
}

.testimonials__text {
  color: #6c788b;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
}

.testimonials__reviewer-name {
  color: #253757;
  margin-top: 16px;
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
}

.testimonials__reviewer-company {
  color: #c0cdd7;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.vision-passion-results__background {
  background-color: #fff;
}

@media (width >= 640px) {
  .vision-passion-results__background {
    background-image: url("background-shapes-01.28895397.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.vision-passion-results__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 72px;
  display: flex;
}

@media (width >= 640px) {
  .vision-passion-results__content {
    padding-block: 200px;
  }
}

.vision-passion-results__title {
  color: #253757;
  text-align: center;
  font-size: 44px;
  line-height: 120%;
}

@media (width >= 640px) {
  .vision-passion-results__title {
    font-size: 52px;
  }
}

@media (width >= 1024px) {
  .vision-passion-results__title {
    line-height: 150%;
  }
}

.vision-passion-results__description {
  color: #6c788b;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 56px;
  font-size: 22px;
  font-weight: 600;
  line-height: 150%;
}

@media (width >= 640px) {
  .vision-passion-results__description {
    font-size: 24px;
  }
}

.vision-passion-results__apply {
  width: 100%;
}

@media (width >= 640px) {
  .vision-passion-results__apply {
    width: 264px;
  }
}

.contacts {
  background-color: #fff;
}

.contacts__background {
  background-color: #2c2c2c;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.contacts__content {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  padding-top: 72px;
  padding-bottom: 80px;
  display: grid;
}

@media (width >= 640px) {
  .contacts__content {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 1024px) {
  .contacts__content {
    --columns: 12;
    column-gap: 20px;
  }
}

@media (width >= 1600px) {
  .contacts__content {
    --columns: 12;
    column-gap: 30px;
  }
}

@media (width >= 640px) {
  .contacts__content {
    padding-top: 180px;
    padding-bottom: 140px;
  }
}

.contacts__send-us-a-message {
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  padding-bottom: 80px;
  display: grid;
}

@media (width >= 640px) {
  .contacts__send-us-a-message {
    padding-bottom: 120px;
  }
}

@media (width >= 1024px) {
  .contacts__send-us-a-message {
    grid-column: 1 / 6;
    padding-bottom: 0;
  }
}

.contacts__send-us-a-message-title {
  color: #fff;
  grid-column: 1 / -1;
  margin-bottom: 48px;
  font-size: 32px;
  line-height: 130%;
}

@media (width >= 640px) {
  .contacts__send-us-a-message-title {
    margin-bottom: 56px;
  }
}

@media (width >= 1024px) {
  .contacts__send-us-a-message-title {
    grid-column: 1 / 6;
  }
}

.contacts__send-us-a-message-form {
  grid-column: 1 / -1;
  row-gap: 40px;
  display: grid;
}

@media (width >= 640px) {
  .contacts__send-us-a-message-form {
    grid-template-columns: subgrid;
    row-gap: 48px;
  }
}

@media (width >= 1024px) {
  .contacts__send-us-a-message-form {
    grid-column: 1 / 6;
  }
}

.contacts__form-label {
  flex-direction: column;
  gap: 16px;
  display: flex;
}

@media (width >= 640px) {
  .contacts__form-label {
    grid-column: 1 / 5;
  }
}

@media (width >= 1024px) {
  .contacts__form-label {
    grid-column: 1 / 6;
    gap: 17px;
  }
}

.contacts__form-input {
  box-sizing: border-box;
  background-color: inherit;
  color: #fff;
  border: none;
  width: 100%;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.contacts__form-input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1000px #2c2c2c;
}

.contacts__form-input::placeholder {
  opacity: .7;
}

.contacts__form-input:focus {
  outline: none;
}

.contacts__input-strip {
  background-color: #fff;
  border: 1px solid #2c2c2c;
  width: 100%;
  height: 1px;
}

.contacts__form-label:focus-within .contacts__input-strip {
  background-color: #2060f6;
  border: 1px solid #2060f6;
}

.contacts__form-button {
  border: none;
  width: 100%;
  margin-top: 56px;
  padding: 0;
}

@media (width >= 640px) {
  .contacts__form-button {
    grid-column: 1 / 4;
    margin-top: 80px;
  }
}

.contacts__contact-us {
  grid-column: 1 / -1;
}

@media (width >= 1024px) {
  .contacts__contact-us {
    grid-column: 7 / 12;
  }
}

.contacts__contact-us-title {
  color: #fff;
  margin-bottom: 48px;
  font-size: 32px;
  line-height: 150%;
}

.contacts__contact-us-details-list {
  flex-direction: column;
  gap: 40px;
  display: flex;
}

.contacts__call-us {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.contacts__short-title {
  opacity: .5;
}

.contacts__detail {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}

.contacts__detail:hover {
  text-decoration: underline;
}

.contacts__visit-us {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.contacts__socials-links-list {
  gap: 32px;
  display: flex;
}

.contacts__our-socials {
  flex-direction: column;
  gap: 16px;
  display: flex;
}

.contacts__socials-link {
  width: 32px;
  height: 32px;
}

.footer {
  background-color: #2c2c2c;
}

.footer__content {
  flex-direction: column;
  align-items: start;
  padding-bottom: 80px;
  display: flex;
}

@media (width >= 1024px) {
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo-link {
  transition: transform .3s;
  display: flex;
}

.footer__logo-link:hover {
  transform: scale(1.2);
}

.footer-menu {
  padding-top: 48px;
}

@media (width >= 640px) {
  .footer-menu {
    padding-top: 24px;
  }
}

@media (width >= 1024px) {
  .footer-menu {
    padding-top: 0;
  }
}

.side-menu {
  background-color: #2c2c2c;
  overflow: auto;
}

.side-menu__content {
  flex-direction: column;
  height: 100vh;
  display: flex;
}

.side-menu__top {
  z-index: 1;
  background-color: #2c2c2c;
  position: sticky;
  top: 0;
}

.side-menu__bottom {
  height: 100%;
  padding-block: 48px;
  display: flex;
}

@media (width >= 640px) {
  .side-menu__bottom {
    padding-block: 56px;
  }
}

.container {
  padding-inline: 20px;
}

@media (width >= 640px) {
  .container {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .container {
    padding-inline: 54px;
  }
}

@media (width >= 1600px) {
  .container {
    padding-inline: 227px;
  }
}

@media (width >= 2560px) {
  .container {
    max-width: 2560px;
    margin-inline: auto;
    padding-inline: 770px;
  }
}

/*# sourceMappingURL=index.971c2ea4.css.map */
